{% extends 'photos/base.html' %}

{% block content %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <img src="{% static "photos/images/sxy_pix/building/IMG_5673.JPG" %}" alt="Bootstrap" style = "object-fit: contain; width: 100%; height:auto; border: solid 2px black"/>

    </div>
    <div class="col">
      <img src="{% static "photos/images/sxy_pix/building/IMG_5632.JPG" %}" alt="Bootstrap" style = "object-fit: contain; width:100%; height:auto; border: solid 2px black"/>
    </div>
    <div class="col">
      <img src="{% static "photos/images/sxy_pix/building/IMG_5633.JPG" %}" alt="Bootstrap" style = "object-fit: contain; width:100%; height:auto; border: solid 2px black"/>
    </div>
  </div>
</div>
<br>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <img src="{% static "photos/images/sxy_pix/building/IMG_5635.JPG" %}" alt="Bootstrap" style = "object-fit: contain; width: 100%; height:auto; border: solid 2px black;"/>

    </div>
    <div class="col">
      <img src="{% static "photos/images/sxy_pix/building/IMG_5634.JPG" %}" alt="Bootstrap" style = "object-fit: contain; width:100%; height:auto; border: solid 2px black"/>

    </div>
    <div class="col">
      <img src="{% static "photos/images/sxy_pix/building/IMG_5631.JPG" %}" alt="Bootstrap" style = "object-fit: contain; width:100%; height:auto; border: solid 2px black"/>

    </div>
  </div>
</div>
<br>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <img src="{% static "photos/images/sxy_pix/building/IMG_5645.JPG" %}" alt="Bootstrap" style = "object-fit: contain; width: 100%; height:auto; border: solid 2px black"/>
    </div>
    <div class="col">
      <img src="{% static "photos/images/sxy_pix/building/IMG_5643.JPG" %}" alt="Bootstrap" style = "object-fit: contain; width:100%; height:auto; border: solid 2px black"/>
    </div>
    <div class="col">
     <img src="{% static "photos/images/sxy_pix/building/IMG_5644.JPG" %}" alt="Bootstrap" style = "object-fit: contain; width:100%; height:auto; border: solid 2px black"/>
    </div>
  </div>
</div>
<br>
</body>
</html>

{% endblock %}