{% extends 'photos/base.html' %}

{% block content %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <img src="{% static "photos/images/sxy_pix/flower/IMG_5658.JPG" %}" alt="Bootstrap" style = "object-fit: contain; width:100%; height:auto; border: solid 2px black"/>
    </div>
    <div class="col">
      <img src="{% static "photos/images/sxy_pix/flower/IMG_5571.JPG" %}" alt="Bootstrap" style = "object-fit: contain; width:100%; height:auto; border: solid 2px black"/>
    </div>
    <div class="col">
      <img src="{% static "photos/images/sxy_pix/flower/IMG_5573.JPG" %}" alt="Bootstrap" style = "object-fit: contain; width:100%; height:auto; border: solid 2px black"/>
    </div>
  </div>
</div>
<br>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <img src="{% static "photos/images/sxy_pix/flower/IMG_4420.JPG" %}" alt="Bootstrap" style = "object-fit: contain; width:100%; height:auto; border: solid 2px black"/>
    </div>
    <div class="col">
      <img src="{% static "photos/images/sxy_pix/flower/IMG_4423.JPG" %}" alt="Bootstrap" style = "object-fit: contain; width:100%; height:auto; border: solid 2px black"/>
    </div>
    <div class="col">
      <img src="{% static "photos/images/sxy_pix/flower/IMG_5671.JPG" %}" alt="Bootstrap" style = "object-fit: contain; width:100%; height:auto; border: solid 2px black"/>
    </div>
  </div>
</div>
<br>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <img src="{% static "photos/images/sxy_pix/flower/IMG_5675.JPG" %}" alt="Bootstrap" style = "object-fit: contain; width: 100%; height:auto; border: solid 2px black"/>
    </div>
    <div class="col">
      <img src="{% static "photos/images/sxy_pix/flower/IMG_5677.JPG" %}" alt="Bootstrap" style = "object-fit: contain; width: 100%; height:auto; border: solid 2px black"/>
    </div>
    <div class="col">
      <img src="{% static "photos/images/sxy_pix/flower/IMG_5676.JPG" %}" alt="Bootstrap" style = "object-fit: contain; width: 100%; height:auto; border: solid 2px black"/>
    </div>
  </div>
</div>
<br>
</body>
</html>

{% endblock %}